.app_footer_clear
.app_footer.footer_work
	ul
		li
			a(href="javascript:")
				i.fa.fa-thumbs-o-up.fa-fw
		li
			a(href="javascript:")
				i.fa.fa-commenting-o.fa-fw
		li
			a(href="javascript:")
				i.fa.fa-heart-o.fa-fw
		.clear