doctype
html
	head
		meta(charset='utf-8')
		title #{title}
		include ./include/head
		block head
	body
		.app_header_clear
		.app_header #{title}
			.icon_box
				a(href="javascript:history.go(-1)").fa.fa-angle-left.fa-fw.icon.fl
		.container
			block content
			include ./include/footer_work