.app_footer
	ul
		li
			a(href="javascript:")
				i.fa.fa-home.fa-fw
		li
			a(href="javascript:")
				i.fa.fa-circle-o-notch.fa-fw
		li
			a(href="javascript:")
				i.fa.fa-plus-circle.fa-fw
		li
			a(href="javascript:")
				i.fa.fa-users.fa-fw
		li
			a(href="javascript:")
				i.fa.fa-user.fa-fw
		.clear