meta(content="Flora Cc,视觉,作品,设计,前端", name="keywords")
meta(content="Flora Cc团队作品集,优秀的网站设计制作团队", name="description")

meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
meta(name="format-detection", content="telephone=no")
meta(name="format-detection", content="email=no")
meta(name="msapplication-tap-highlight", content="no")
link(rel="shortcut icon", href="/src/images/favicon.ico")
//libs
script(type="text/javascript", src="/src/js/libs/jquery-1.12.0.min.js")
script(type="text/javascript", src="/src/js/libs/jquery.pjax.js")
link(rel="stylesheet", href="/src/css/font-awesome.min.css")
script(type="text/javascript", src="/src/js/libs/velocity.min.js")
script(type="text/javascript", src="/src/js/libs/fastclick.js")
//mui
//- script(src="/src/js/libs/mui.min.js")
//- link(rel="stylesheet", href="/src/css/mui.min.css")
//app
script(type="text/javascript", src="/src/js/layout.min.js")
link(rel="stylesheet", href="/src/css/layout.min.css")