extends ./layout/layout

block body
	.container
		.banner
			img(src="./src/images/banner_1.png")
			span
	script.
		//- $(function(){
		//- 	mui.init()
		//- 	mui.plusReady(function(){
		//- 		ajax_render('/data/home', render)
		//- 	})

		//- 	function render(url){
		//- 		$.ajax({
		//- 			url: url,
		//- 			success: function(data){
		//- 				$('.banner span').html(data.name)
		//- 			}
		//- 		})
		//- 	}
		//- })