extends ./layout/layout

block body
	.tab_menu
		.user_cover
			.head_photo
			.username
			.user_job
		a.tab_list.c_blue
			i
			span 首页
		a.tab_list
			i
			span 最新作品
		a.tab_list
			i
			span 团队成员
		a.tab_list
			i
			span 联系我们
		a.tab_list
			i
			span 设置